@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

* {
    margin: 0px;
    padding: 0px;
}

div.container {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
}
    
    div.extra-information {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        background: white;
        width: 0%;
        overflow: hidden;
        height: 100%;
        box-sizing: border-box;
    }

    .map {
        position: relative;
        flex: 1 1 70%;
    }

    #map {
        height: 100%;
        width: 100%;
    }

    div.information {
        flex: 1 1 30%;
        overflow-y: scroll;
    }

    div.information article {
        display: flex;
        align-items: center;
        min-height: 100%;
        opacity: 0.5;
        background: #eaeaea;
    }
        
        div.information article section {
            box-sizing: border-box;
            padding: 0 5%;
            line-height: 1.4;
            font-family: 'Lato', sans-serif;
            color: #717171;
            font-size: 18px;
        }

        div.information article section h2 {
            font-family: 'Merriweather', serif;
            color: #5e16e2;
            margin-bottom: 3%;
        }

    div.information article.active {
        transition: 0.2s linear opacity;
        opacity: 1;
    }

/* Helper classes */

span.purple-underline {
    position: relative;
}

span.purple-underline:after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    background: #5e16e2;
    top: 22px;
    left: 0px;
}

/* Toggle Interactions - CSS from docs */

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid #fff;
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    color: #ffffff;
    transition: 0.2s background-color linear;
}

#menu a:first-child.active {
    background-color: rgba(52, 129, 223, 0.95);
}

#menu a:first-child.active:hover {
    background-color: rgb(52, 129, 223);
}

#menu a:nth-child(2).active {
    background-color: rgba(243, 68, 68, 0.95);
}

#menu a:nth-child(2).active:hover {
    background-color: rgb(243, 68, 68);
}


