@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

* {
    margin: 0px;
    padding: 0px;
}

div.container {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
}
    
    div.extra-information {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        background: white;
        width: 0%;
        overflow: hidden;
        height: 100%;
        box-sizing: border-box;
    }

    .map {
        flex: 1 1 70%;
    }

    #map {
        height: 100%;
        width: 100%;
    }

    div.information {
        flex: 1 1 30%;
        overflow-y: scroll;
    }

    div.information article {
        display: flex;
        align-items: center;
        min-height: 100%;
        opacity: 0.5;
        background: #eaeaea;
    }
        
        div.information article section {
            box-sizing: border-box;
            padding: 0 5%;
            line-height: 1.4;
            font-family: 'Lato', sans-serif;
            color: #717171;
            font-size: 18px;
        }

        div.information article section h2 {
            font-family: 'Merriweather', serif;
            color: #5e16e2;
            margin-bottom: 3%;
        }

    div.information article.active {
        transition: 0.2s linear opacity;
        opacity: 1;
    }

/* Helper classes */

span.purple-underline {
    position: relative;
}

span.purple-underline:after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    background: #5e16e2;
    top: 22px;
    left: 0px;
}




