* {
    margin: 0px;
    padding: 0px;
}

div.container {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
}
    
    div.extra-information {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        background: white;
        width: 0%;
        overflow: hidden;
        height: 100%;
        box-sizing: border-box;
    }

    #map {
        flex: 1 1 70%;
    }

    div.information {
        flex: 1 1 30%;
        background-color: red;
        overflow-y: scroll;
    }

    div.information article {
        display: flex;
        align-items: center;
        min-height: 100%;
        opacity: 0.5;
    }

    div.information article.active {
        opacity: 1;
    }







    /*#map {
        position: fixed;
        width:70%;
        height: 100%;
    }

#features {
    width: 30%;
    margin-left: 70%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}
section {
    padding:  25px 25px 200px 25px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
    min-height: 75%;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 600px;
}*/